---
// src/components/AvailableBadge.astro
---
<div class="w-fit flex rounded-4xl px-5 py-2 items-center gap-2 bg-[#282c3b] mb-6">
  <div class="bg-green-500 w-2 h-2 rounded-full"></div>
  <span class="text-gray-400 text-sm font-medium">Available for work</span>
</div>